replicaCount: 1

secret: docchat-frontend-config

image:
  repository: ghcr.io/rivestack/rag-starter/frontend
  tag: latest
  pullPolicy: Always

resources:
  limits:
    cpu: '500m'
    memory: '256Mi'
  requests:
    cpu: '250m'
    memory: '128Mi'

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: docchat.rivestack.io
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - docchat.rivestack.io
      secretName: docchat-frontend-tls-prod
